.center{
    text-align: center;
    margin: auto;
}

.bottom-margin{
    margin-bottom: 10px;
}

.fill-space{
    width: 100%;
}

.books-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    width: 610px;
    margin: auto;
    justify-content: center;
}

.book{
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    margin: 2px;
}

.bookTitle{
    font-size: 1.2em;
    font-weight: bold;
}

.icon{
    height: 16px;
    width: 16px;
}